.header-static {
    width: 100%;
    .container {
        max-width: 1366px;
    }
    .free-text p {
        display: flex;
        align-items: center;
    }
    .inp--search__input {
        box-sizing: border-box;
    }
    .cart-preview.AT3CListWrap {
        display: none;
    }
    .navbar__middle-ads {
        display: none;
    }
    a.btn.btn--track.n-mobile-only {
        display: none !important;
    }
}

@media only screen and (max-width:768px) {
    .header-limit-here .navbar__main {
        padding: 0px 0;
    }
    .searchfrm.navbar__middle-search {
        display: none;
    }
}